
.navbar{
  font-family: 'Ubuntu';
  background-color: #891dad;
  
  a{
    color: white;
    &:hover{
      color: #FFF;
    }
  }

  .navbar-brand{
    font-weight: bold;
    &:hover{
      color: #FAFAFA;
    }
  }

  ul.nav.navbar-nav > li > a{
    &:hover{
      background-color: #992dbd;
    }
    &:focus{
      background-color: #891dad;
    }
  }

  .icon-bar{
    background-color: white;
  }
}
